html,
body {
  font-family: "Times New Roman", Georgia, serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 60%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: -7px 8px 15px -2px #9942ff;
  box-shadow: -7px 8px 15px -2px #9942ff;
  margin: 15% 0 0 20px;
}

.top-part {
  background: url("./bg.png") no-repeat center;
  background-size: cover;
  height: 40%;
  width: 100%;
  box-sizing: border-box;
}

.today-detail {
  height: 100%;
  width: 40%;
  box-sizing: border-box;
  position: relative;
}

.today-weather {
  text-align: center;
  height: 70%;
  width: 100%;
  padding-top: 10%;
  padding-left: 5%;
}

.today-temp {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 4rem;
}

.today-temp1 {
  color: #b1a9d0;
}

.humidity-wind {
  display: flex;
  align-content: center;
  height: 30%;
  width: 100%;
  margin-left: 5%;
  text-align: center;
  color: #b1a9d0;
  font-size: 1rem;
  padding-bottom: 30px;
}

.humidity {
  flex-grow: 1;
}

.wind {
  flex-grow: 1;
}

.city-location {
  position: absolute;
  top: 5%;
  right: 10%;
  color: white;
  letter-spacing: 2px;
}

.city-location::after {
  content: "";
  width: 50%;
  height: 2px;
  display: block;
  margin: 0 auto;
  background: white;
}

.link-top {
  width: 100px;
  height: 2px;
  border-top: 2px solid white;
}

.botom-part {
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 60%;
}

.left-part {
  height: 100%;
  margin-left: 15px;
  margin-right: 5%;
  flex-grow: 1;
  position: relative;
}

.right-part {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 65%;
  height: 100%;
  border-left: 2px solid purple;
  padding: auto 3% 15%;
}

.dayWeather {
  margin: 10px;
  flex-grow: 1;
  text-align: center;
}

.dayWeather h3 {
  font-size: 20px;
  text-align: center;
}

.dayWeather h4 {
  text-align: center;
}

.dayweather-icons {
  width: 50px;
  height: 50px;
  color: blue;
}

.WiRaindrops {
  width: 100px;
  height: 100px;
}

.dayweather-icons-sunny {
  color: gold;
}

.twitter-feed {
  display: flex;
  align-items: baseline;
}

.twitter-feed > h3 {
  margin-right: 10px;
  font-size: 20px;
}

.twitter-feed > span {
  color: grey;
}

.twitter-logo {
  color: #0099ff;
  margin-right: 10px;
}

.twitter-feed-words {
  display: flex;
  align-items: center;
}

.twitter-feed-words > p {
  word-wrap: break-word;
  font-size: 14px;
  color: #c0c0d4;
  margin-bottom: 30px;
  flex-grow: 1;
}

.grey-circle {
  color: #dff1ff;
  width: 20%;
  height: 20%;
  margin-right: 15px;
  flex-grow: 1;
}

.next-div {
  display: flex;
  height: 40px;
  width: 100%;
  align-content: center;
  justify-content: flex-end;
}

.next-text {
  flex-grow: 1;
  text-align: right;
  display: inline-block;
  flex-grow: 1;
  margin: 0 0 auto auto;
  letter-spacing: 5px;
}

.twitter-next {
  color: orange;
  flex-grow: 1;
  width: 25px;
  height: 25px;
}

@media screen and (max-device-width: 800px) {
  .container {
    min-width: 400px;
    height: 100%;
  }
}

/*# sourceMappingURL=App.css.map */
